.navbar-brand {
  font-family: "Fredericka the Great", cursive;
  font-size: 38px;
}

.primary-text {
  color: $primaryColor;
}

.secondary-text {
  color: $secondaryColor;
}

.navbar-toggler {
  color: $secondaryColor;
}

main {
  min-height: 100vh;
}

// ============ card =============
.card-body {
  background-color: $primaryColor;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

// ======== LOGIN ==========

#loginSubmit,
#registerSubmit,
#submit-button-for-listings {
  color: $secondaryColor !important;
  background-color: #212529 !important;

  &:hover {
    color: $black;
    background-color: $hoverColor !important;
    border: 2px solid $secondaryColor !important;
  }
}

.scroll-top-button,
#go-back-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  margin-left: 1rem;

  &:hover {
    background-color: #0056b3;
  }
}

#portfolio-text {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: solid;
}

.portfolio-link {
  text-decoration: underline;
  font-size: 24px;
  color: darkred;
  letter-spacing: 3px;
}

.portfolio-link:hover {
  text-decoration: double;
  background-color: gold;
  color: blue;
}

#portfolio-text,
.portfolio-link {
  text-align: right;
  padding: 1rem;
}
