.navbar-brand {
  font-family: "Fredericka the Great", cursive;
  font-size: 38px;
}

.primary-text {
  color: $primaryColor;
}

.secondary-text {
  color: $secondaryColor;
}

.navbar-toggler {
  color: $secondaryColor;
}
