// card images in listing
.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  background-color: $primaryColor;
}

.card-body p,
h4 {
  color: $secondaryColor;
}

h4.p-2 {
  font-size: 1em;
  font-weight: normal;
}

#search-auction {
  margin: 0 auto;
}
