// Main Color Variables
$gray-500: #adb5bd;
$black: #000;
$dark: #212529;
$white: #fff;
$gold: #996c1d;

$primaryColor: $dark;
$secondaryColor: $white;

$primary-hoverColor: $gray-500;
$secondary-hoverColor: $yellow;

