
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap");




@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./_partials/variables";
@import "./_partials/global";
@import "./_partials/home";
@import "./_partials/profile";



